* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poetsen One", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #2591f0, #4962d1, #653db9);
}

main {
    text-align: center;
    border: solid 1px #2492f0;
    border-radius: 5px;
    padding: 10px;
    background-color: #653db9;
}

h1 {
    margin-bottom: 20px;
    color: #2492f0;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 85px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #78057E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #653db9;
    background-color: #2492f0;
    font-size: 1em;
    cursor: pointer;
}
button:active {
    background-color: #4962d1;
}

.status {
    margin-top: 20px;
    font-size: 1.2em;
}

.cell.selected {
    outline: 2px solid #4962d1;
}

.x-symbol {
    color: #653db9;
}

.o-symbol {
    color: #2492f0;
}